@import "../scss/variable";
.section-bar-results {
  max-width: 1296px;
  margin: auto;

  .bar-results-list {
    display: grid;
    grid-template-columns: repeat(var(--col-count), 1fr);
    justify-content: center;
    justify-items: center;
    gap: 20px 20px;
    padding-bottom: 30px;

    @media (max-width: 992px) {
      gap: 16px 10px;
      padding: 0 40px;
    }
    @media (max-width: 768px) {
      padding-inline: 60px;
    }
  }
}
