@import "../scss/_variable";

.section-recipe-content {
  max-width: 1296px;
  margin: auto;
  padding: 48px;
  .recipe-content-details {
    display: flex;
    gap: 72px;
    justify-content: center;
    align-items: center;
    .recipe-pic {
      width: 30%;
      img {
        width: 100%;
      }
    }
    .recipe-txt {
      width: 70%;
      .tag-list {
        display: flex;
        gap: 8px;
        .tag-item {
          padding: 0.5em 1em;
          border-radius: 100px;
          border: 1px solid currentColor;
        }
      }

      .recipe-description {
        margin: 30px 0;
      }

      .recipe-practice {
        border: 1px solid currentColor;
        h3 {
          background-color: $primary1;
          width: fit-content;
          padding: 4px 8px;
        }
        .main-content {
          padding: 20px 40px;
          div + div {
            margin-top: 20px;
          }
        }
        .recipe-practice-ingredients {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }
}
