@import "../scss/_variable";

.section-recipe-results {
  max-width: 1296px;
  margin: auto;
  padding: 48px 0;

  .recipe-option-list {
    padding: 0 100px;
    .recipe-option-title {
      display: inline-block;
    }
    .recipe-option-values {
      // width: 50%;
      overflow-x: auto;
      white-space: nowrap;
      display: flex;
      align-items: center;
      gap: 16px;
      border: 1px solid $primary1;
      padding: 12px 24px;
      border-radius: 1000px;
      margin-bottom: 16px;

      .recipe-option-value {
        color: $primary1;
        border: 1px solid $primary1;
        padding: 8px 16px;
        border-radius: 1000px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: $primary1;
          color: $primary2;
        }

        &.active {
          background-color: $primary1;
          color: $primary2;
          font-weight: bold;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  .recipe-results-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    .recipe-results-item {
      position: relative;
      width: 25%;
      min-width: 250px; // 最小寬度
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 24px;
      background-color: $backgroundColor3;
      color: $primary3;

      .recipe-tag-list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        .recipe-tag-item {
          color: $backgroundColor3;
          background-color: $primary1;
          padding: 4px 8px;
          border-radius: 100px;
        }
      }

      .arrow {
        color: $primary2;
        background-color: $primary3;
        padding: 7px;
        width: fit-content;
        border-radius: 50%;
        cursor: pointer;
        margin-left: auto;
      }
    }

    .pic {
      display: inline-block;
      width: 45%;
      margin-top: auto;
      img {
        width: 100%;
      }
    }

    .no-results {
      text-align: center;
      padding: 60px 20px;
      color: $primary3;

      p {
        margin-bottom: 10px;
        font-size: 18px;

        &:first-child {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 20px;
        }
      }
    }
  }
}
