@import "../scss/_variable";

// ::placeholder {
//   /* 標準語法 */
//   color: $primary2; /* 將顏色改為您想要的 */
//   opacity: 1; /* 某些瀏覽器預設會降低 placeholder 的透明度，這可以確保它完全顯示 */
// }

.section-banner {
  padding: 294px 312px 190px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("../assets/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .searchbar {
    div {
      position: relative;
      border: 1px solid $primary2;
      flex-grow: 1;

      display: flex;
      // max-width: 500px;
    }
    input {
      background-color: transparent;
      flex-grow: 1;
      border: none;
    }
    input::placeholder {
      /* 標準語法 */
      color: $primary2; /* 將顏色改為您想要的 */
      opacity: 1; /* 某些瀏覽器預設會降低 placeholder 的透明度，這可以確保它完全顯示 */
    }
    span {
      // border: 1px solid $primary2;
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}
